global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'node_exporter'
    static_configs:
      - targets: ['10.10.2.25:9100', '10.10.2.19:9100']
  - job_name: 'nginx_log_exporter'
    static_configs:
      - targets: ['10.10.2.25:9113', '10.10.2.19:9113']